.user {
  border-radius: 4px;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color: white;
  padding: 14px;
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-auto-flow: row;
  gap: 10px;
  cursor: pointer;
  user-select: none; 
}
.user:active {
  transform: scale(1.015);
}
.user p {
  margin: 0;
}

.user-born {
  grid-row: 1/3;
  grid-column: 2;
  align-self: center;
}
