.top-bar {
  padding: 1rem 0;
  background-color: #1B629D;
  margin-bottom: 2rem;
}
.top-bar ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.top-bar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #061623;
}
.top-bar ul li:hover a {
  color: #DCECF9;
}
.top-bar ul li a.active {
  color: #DCECF9;
}
